<div class = "header container">
	<div id = "goto_home" class = "header logo">
		<img src = 'assets/fusegap_white.png' height = '50px' />
		<span class = 'logo-text'>fuseGap</span>
	</div>
	<div id = "header" class = "header navbar"></div>
</div>
<div id = "popup" class = "popup-background hide">
	<div id = "popup_inner" class = "popup-container"></div>
</div>
<div class = "page">
	<div id = "left_column" class = "column left"></div>
	<div class = "column right">
		<div class = "column container">
			<div id = "right_column_top" class = "column right side top"></div>
			<div id = "right_column_bot" class = "column right side bottom"></div>
		</div>
	</div>
</div>
<div class = "page-container-thing">
	<div class = "page-guy-thing" />
</div>
<img src = "assets/front_page2.png" style = "display: none" />
<script type = 'text/json' id = 'json'>
	{
		"current_user": <%= current_user.to_json %>,
		"users": <%= User.all.to_json %>,
		"topics": <%= Topic.all.to_json %>,
		"reasons": <%= Reason.all.to_json %>,
		"tasks": <%= Task.all.to_json %>,
		"scorings": <%= Scoring.all.to_json %>,
		"global_levels" : <%= GlobalLevel.all.to_json %>,
		"topic_levels" : <%= TopicLevel.all.to_json %>,
		"topic_user_levels" : <%= TopicUserLevel.all.to_json %>,
		"reason_edits" : <%= ReasonEdit.all.to_json %>,
		"comments" : <%= Comment.all.to_json %>
	}
</script>

<%= content_for :javascript do -%>
	<script type = 'text/javascript'>
		$(function() {
			var div, data;
			div = $('<div></div>');
			div.html($('#json').text());
			data = JSON.parse(div.text());
		
			Debacle.init(data);
		});
	</script>
<% end %>