<div class = "header-container">
	<div style = "position: absolute; top: 4px; left: 5px">
		<img src = "assets/fusegap_white.png" height = "50px" />
		<span style = "position: absolute; top: 4px; left: 60px; font-size: 40px; color: #323232"><b>fuseGap</b></span>
	</div>
	<div id = "header" class = "header"></div>
</div>
<div id = "popup" class = "popup-background hide">
	<div id = "popup_inner" class = "popup-container"></div>
</div>
<div class = "page-container">
	<div id = "left_column" class = "left-panel"></div>
	<div class = "right-panel-container">
		<div class = "right-panel">
			<div id = "right_column_top" class = "profile-panel"></div>
			<div id = "right_column_bot" class = "topic-container"></div>
		</div>
	</div>
</div>
<div class = "page-container-thing">
	<div class = "page-guy-thing" />
</div>
<img src = "assets/front_page2.png" style = "display: none" />
<script type = 'text/json' id = 'json'>
	{
		"current_user": <%= current_user.to_json %>,
		"users": <%= User.all.to_json %>,
		"topics": <%= Topic.all.to_json %>,
		"reasons": <%= Reason.all.to_json %>,
		"tasks": <%= Task.all.to_json %>,
		"scorings": <%= Scoring.all.to_json %>,
		"global_levels" : <%= GlobalLevel.all.to_json %>,
		"topic_levels" : <%= TopicLevel.all.to_json %>,
		"topic_user_levels" : <%= TopicUserLevel.all.to_json %>
	}
</script>

<%= content_for :javascript do -%>
	<script type = 'text/javascript'>
		$(function() {
			var div, data;
			div = $('<div></div>');
			div.html($('#json').text());
			data = JSON.parse(div.text());
		
			Debacle.init(data);
		});
	</script>
<% end %>