<li value = "<%= topic.get('id') %>" style = "display:none" />
<div id = "inactive" class = "">
	<div class = "arrow-container">
		<div class = "topic-arrow"></div>
	</div>
	<div class = "bold-text">
		<%= topic.get('title') %>
	</div>
	<div class = "show-more-topic-text">
		....
	</div>
	<div class = "show-facts-text">
		<span class="footer-text-span">Facts (</span><%= reasons.where({topic_id: topic.get('id')}).length %><span class="footer-text-span">)</span>
	</div>
</div>
<div id = "active" class ="hide">
	<div class = "arrow-container">
		<div class = "topic-arrow"></div>
	</div>
	<div class = "bold-text">
		<%= topic.get('title') %>
	</div>
	<div id = "xp_bar">
		
	</div>
	<div class = "active-topic-footer">
		<div class = "show-active-topic-text">
			<span class="footer-text-span-facts">Facts:</span> 
			<span class="footer-text-span-intro-before"> Intro (</span><%= reasons.where({topic_id: topic.get('id'), is_intro: true}).length %><span class="footer-text-span-intro-after">)</span>
			<span class="footer-text-span">Pro (</span><%= reasons.where({topic_id: topic.get('id'), is_pro: true}).length %><span class="footer-text-span-pro-after">)</span>
			<span class="footer-text-span">Con (</span><%= reasons.where({topic_id: topic.get('id'), is_pro: false}).length %><span class="footer-text-span">)</span>
		</div>
	</div>
</div>
