<div>
		<% for (i = 0; i < reasons.length; i++) { %>
			<% if (reason_id === reasons[i].get('id')) { %>
				<div class = "panel fact active sidebar" id = "<%= 'reason' + i %>">
			<% } else { %>
				<% if (tasks.where({reason_id: reasons[i].get('id'), user_id: user.get('id')})[0]) { %>
					<div class = "panel fact visited sidebar">
				<% } else { %>
					<div class = "panel fact sidebar">
				<% } %>
			<% } %>
				<div class = "" style = "position: absolute; top: 0; left: 0; width: 2em; text-align: center">
					<button class = "vote up" style = "margin-top: 5px" id = "plus_reason" value = "<%= reasons[i].get('id') %>"><div></div></button>
				</div>
				<div class = "" style = "position: absolute; left: 0; top: 2.5em; margin-top: -8px; width: 2em; height: 1em; text-align: center">
					<%= reasons[i].get('score') %>
				</div>
				<div class = "" style = "position: absolute; bottom: 0; left: 0; width: 2em; text-align: center">
					<button class = "vote down" style = "margin-bottom: 2px" id = "minus_reason" value = "<%= reasons[i].get('id') %>"><div></div></button>
				</div>
				<div style = "position: absolute; top: 8px; right: 0; margin: 0 auto; width: 85%; height: 100%; font-size: 14px; overflow: hidden; line-height: 18px; max-height: 54px">
					<button class = "invisible-butt fact" id = "reason" value = "<%= reasons[i].get('id') %>" style = "margin-top: 0em"></button>
					<%= reasons[i].get('title') %>
				</div>
			</div>
		<% } %>
</div>