<div class = "sidebar at left top">
	<div class = "sidebar wrapper top">
		<div id = "left" class = " mousescroll sidebar"></div>
	</div>
</div>
<div class = "sidebar at left bottom">
	<div class = " sidebar wrapper bottom" style = "text-align: center">
		<button class = "primary button radius" id = "create_reason" style = "width: 80%; margin-top: 1em">+ Add Reason +</button>
	</div>
</div>
<div class = "page content">
	<div class = "mypanel reason" style = "height: 100%">
		<b><span style = "font-size: 20px"><%= reason.get('title') %></b></br>
		<%= reason.get('description') %></span></br></br>
		<div style = "overflow: hidden">
			<a href = "<%= reason.get('url1') %>" style = "font-size: 12px"><u><%= reason.get('url1') %></u></a></br></br>
			<a href = "<%= reason.get('url2') %>" style = "font-size: 12px"><u><%= reason.get('url2') %></u></a></br></br>
			<a href = "<%= reason.get('url3') %>" style = "font-size: 12px"><u><%= reason.get('url3') %></u></a></br></br>
		</div>
		<div style = "width: 100%; text-align: center">
			<button class = "primary button radius" id = "edit_reason" style = "width: 40%; margin-top: 1em">Edit Reason</button>
		</div>
	</div>
</div>
<div class = "sidebar at right top">
	<div class = "sidebar wrapper top">
		<div id = "right" class = " mousescroll sidebar"></div>
	</div>
</div>
<div class = "sidebar at right bottom">
	<div class = "sidebar wrapper bottom" style = "text-align: center">
		<button class = "success button radius" id = "create_topic" style = "width: 80%; margin-top: 1em">+ Add Topic +</button>
	</div>
</div>