<div class = "header">
	<div class = "headleft"><div class = "downarrow left" />Facts<div class = "downarrow right" /></div>
	<div class = "headtext">fuseGap</div>
	<div class = "headright"><div class = "downarrow left" />Topics<div class = "downarrow right" /></div>
</div>
<div class = "sidebar at left top">
	<div class = "sidebar wrapper top">
		<div id = "left" class = "mousescroll sidebar"></div>
	</div>
</div>
<div class = " sidebar at left bottom">
	<div class = "sidebar wrapper bottom">
		<button class = "button fact-one size-four" id = "create_reason">+ Add Fact +</button>
	</div>
</div>
<div class = "page content">
	<div class = "panel fact main">
		<b><span style = "font-size: 20px"><%= reason.get('title') %></b></br>
		<%= reason.get('description') %></span></br></br>
		<div style = "overflow: hidden">
			<a href = "<%= reason.get('url1') %>" style = "font-size: 12px" target = "_blank"><u><%= reason.get('url1') %></u></a></br></br>
			<a href = "<%= reason.get('url2') %>" style = "font-size: 12px" target = "_blank"><u><%= reason.get('url2') %></u></a></br></br>
			<a href = "<%= reason.get('url3') %>" style = "font-size: 12px" target = "_blank"><u><%= reason.get('url3') %></u></a></br></br>
		</div>
		<div style = "width: 100%; text-align: center">
			<button class = " button fact-one size-four" id = "edit_reason">Edit Fact</button>
		</div>
		<button id = "prev_reason" class = "next left">
			<div id = "prev_reason" />
		</button>
		<button id = "next_reason" class = "next right">
			<div id = "next_reason" />
		</button>
	</div>
</div>
<div class = " sidebar at right top">
	<div class = "sidebar wrapper top">
		<div id = "right" class = "  mousescroll sidebar"></div>
	</div>
</div>
<div class = " sidebar at right bottom">
	<div class = " sidebar wrapper bottom">
		<button class = "button topic-one size-four" id = "create_topic">+ Add Topic +</button>
	</div>
</div>